body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 1.6rem; /* ou 24px si tu préfères */
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3rem; /* facultatif si tu en utilises */
    margin-bottom: 15px;
}

header {
    background: #007acc;
    padding: 10px;
}
.logo {
    width: 120px;
}
main {
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.error {
    color: red;
    margin-top: 10px;
}
.info {
    margin-top: 20px;
}
a {
    color: #007acc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.rapport-image {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}
